[submodule "qmcsoftware"]
	path = qmcsoftware
	url = git@github.com:QMCSoftware/QMCSoftware.git
	branch = develop
[submodule "classlib"]
	path = classlib
	url = git@github.com:fjhickernell/HickernellAcademicLib.git
	branch = main
[submodule "assets/tests/archive"]
	path = assets/tests/archive
	url = git@github.com:fjhickernell/HickernellTestArchive.git
