.quarto/
_site/
site_libs/
*_files/
**/*.quarto_ipynb
docs/*
!docs/pages-style.md
!docs/slide-style.md
.DS_Store
**/.DS_Store
.Renviron
.quarto-watch-logs/

# Python bytecode caches
__pycache__/
*.py[cod]

# local symlink for slide preview
slides/classlib

/.quarto/

# Jupyter notebook checkpoints

**/.ipynb_checkpoints/